@font-face {
font-family:'MON3 Anonta 1';
src: url('https://github.com/htoohtoopc/myanmarunicode/blob/main/mon3.woff') format('woff'), url('https://github.com/htoohtoopc/myanmarunicode/blob/main/mon3.ttf') format('ttf');
}
html *
{    
   font-family: MON3 Anonta 1 !important;
}
